@model RSP.Dtos.CardItemDto
<h1>Card Items details page.</h1>
<div class="container">
    <div class="row">
        <div class="col-xs-4 item-photo">
            <img style="max-width:100%;" src="https://vignette.wikia.nocookie.net/max-steel-reboot/images/7/72/No_Image_Available.gif/revision/latest?cb=20130902173013" />
        </div>
        <div class="col-xs-5" style="border:0px solid gray">
           
        </div>
        <div class="col-xs-9">
        </div>
    </div>
</div>
