@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>Item list page.</p>
<ul>
    @foreach (var item in ViewData["ItemList"] as IEnumerable<RSP.Dtos.ItemDto>)
    {
        // cut for brevity, need to add back more code from original
        <li>@item.Id</li>
        <li>@item.Name</li>
        <li>@item.Size</li>
    }
</ul>